<h1>Hair Salon</h1>

<p>Add a new Stylist:</p>

<form action="/stylists" method="post">
  <label for="name">Stylist Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-danger">Add Stylist</button>
</form>

<% if @stylists.any?() %>
<p>Click on a stylist to see their clients Or to add appointments:</p>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>
